.title {
  margin-top: 0.75%;
  background-image: url("../photos/paper-edit.jpg");
  width: 80%;
  font-family: "The Girl Next Door", cursive;
  font-size: 1.5rem;
  display: inline-block;
  border: solid 3px #5a2b02;
}

.info-holder {
  height: 30%;
  width: 30%;
  background-color: white;
  border: solid 1px black;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}
